		<div class="tabbable tabs-left">
	    <ul class="nav nav-tabs">
	      <li class="active"><a href="#nav-{{id}}-0" data-toggle="tab">Full Description</a></li>
	      <li><a href="#nav-{{id}}-1" data-toggle="tab">Specifications</a></li>
	      <li><a href="#nav-{{id}}-2" data-toggle="tab">Warranty</a></li>
	      <li><a href="#nav-{{id}}-3" data-toggle="tab">Financing</a></li>
	      <li><a href="#nav-{{id}}-4" data-toggle="tab">Gifting</a></li>
	    </ul>
	    <div class="tab-content">
	      <div class="tab-pane active" id="nav-{{id}}-0">
	        <p>{{{longDescription}}}</p>
	      </div>
	      <div class="tab-pane" id="nav-{{id}}-1">
	        <p>Specifications</p>
	      </div>
	      <div class="tab-pane" id="nav-{{id}}-2">
	        <p>{{{warranty}}}</p>
	      </div>
	      <div class="tab-pane" id="nav-{{id}}-3">
	        <p>Financing</p>
	      </div>
	      <div class="tab-pane" id="nav-{{id}}-4">
	        <p>Gifting</p>
	      </div>
	    </div>
	  </div>