							
								<td>
								<img src="{{image}}" />
								<br />
								In Stock
								</td>

								<td>
									<h5>{{name}}</h5>
									<button data-product-id="{{id}}"  class="move-to-cart-button btn btn-primary">Move to Cart</button>
									<button data-product-id="{{id}}"  class="remove-button btn">Remove</button>
								</td>

								<td>
									<h6>Quantity</h6> <input class="input-mini" type="text" value="{{quantity}}"></input>
								</td>

								<td>
									<del>List Price: {{listPrice}}</del>
									<h2>{{price}}</h2>
								</td>
							